:root{
  --clr-purple: #ff0aa7;
  --clr-green: #069e45;
  --clr-light: #f1f5f9;
  --clr-slate400: #94a3b8;
  --clr-slate600: #475569;
  --clr-slate800: #1e293b;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;; 
  }
  .wrapper{
    max-width: 960px;
    margin: 0 auto;
  }
  h1{
    margin: 40px auto;
    color: var(--clr-purple);
    text-align: center;
  }
  ul{
    padding: 0;
    list-style-type: none;
  }
  li{
    padding: 6px 10px;
    border: 1px solid var(--clr-light);
    margin: 10px auto;
  }
  li h4{
    color: var(--clr-purple);
    margin: 0;
    text-transform: capitalize;
  }
  li p{
    color: #333;
    margin: 8px 0 0;
  }
  footer{
    background: #eee;
    padding: 60px;
    margin-top: 60px;
  }
  form{
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
  }
  label{
    display: block;
    font-weight: bold;
    font-size: 0.8em;
    color: #333;
    margin: 16px 0 6px;
  }
  input, select{
    padding: 6px;
    border: 1px solid var(--clr-slate400);
    border-radius: 4px;
  }
  .field{
    display: inline-block;
    margin: 0 10px;
  }
  button{
    color: var(--clr-light);
    border: 0;
    background: var(--clr-purple);
    padding: 6px;
    min-width: 80px;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
  }
  footer a{
    text-align: center;
    display: block;
    color: #999;
    margin-top: 40px;
    font-size: 0.7em;
  }

  .paymentButton{
    background: var(--clr-green);
    transition: 0.5s ease-in-out;
  }